@use './utils/base';
@use './utils/mixins';
@use './utils/variables';
@use './utils//visually-hidden';
@use './components/reused';

@use './components/header';
@use './components/container';
@use './components/gallerry';
@use './components/footer';
@use './components/modalMovieDetails';
@use './components/authForm';
@use './components/signUpForm';
@use './components/urlWithError';

@use './components/theme';
@use './components/pagination';
@use './components/toTop';
@use './components/spinner';

@import '../../node_modules/modern-normalize/modern-normalize.css';
