<ul class='header-button-list js-header-btn'>
  <li class='header-button-item'>
    <a
      href='/library/watched'
      class='button button-tpl js-library-btn'
    >Watched</a>
  </li>
  <li class='header-button-item'>
    <a href='/library/queue' class='button button-tpl js-library-btn'>queue</a>
  </li>
</ul>