<ul class='header-button-list js-header-btn'>
  <li class='header-button-item'>
    <button
      class='button button-tpl js-watched-btn'
      data-action='watched'
    >Watched</button>
  </li>
  <li class='header-button-item'>
    <button
      class='button button-tpl js-watched-que'
      data-action='queue'
    >queue</button>
  </li>
</ul>