<div class='containerError'>
  <h1>404 - Page Not Found</h1>
  {{#if errorPath}}
    <p>Sorry, the page with URL name: {{errorPath}} does not exist.</p>
  {{/if}}
  <button type='button' class='button' data-action='go-back'>Go Back to Home</button>
</div>