<!-- htmlhint doctype-first:false -->
<header class="page-header">
  <div class="home-bgc-container js-bg-home" id="home">
    <div class="main-container">
      <section class="home-container">
        <div class="toolbar">
          <div class="theme-switch">
            <svg class="theme-switch__icon" role="img" aria-label="Sun icon">
              <use href="./images/sprite.svg#sun"></use>
            </svg>

            <div class="theme-switch__control">
              <input
                class="theme-switch__toggle"
                type="checkbox"
                name="theme"
                id="theme-switch-toggle"
                data-switch-theme-toggle
                aria-label="Switch between dark and light theme"
              />
              <label
                aria-hidden="true"
                class="theme-switch__track"
                for="theme-switch-toggle"
              >
              </label>
              <div aria-hidden="true" class="theme-switch__marker"></div>
            </div>

            <svg class="theme-switch__icon" aria-label="Moon icon">
              <use href="./images/sprite.svg#moon"></use>
            </svg>
          </div>
        </div>
        <div class="header-box">
          <a href="./index.html" class="logo">
            <svg class="logo-icon" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-film"></use>
            </svg>
            <span class="logo-text">Film library</span>
          </a>
          <nav class="header-nav" data-header-nav>
            <ul class="header-nav-list">
              <li class="header-nav-item item-home current">
                <a href="/home" class="header-link js-home">Home</a>
              </li>
              <li class="header-nav-item item-library js-library">
                <a href="/library" class="header-link js-library nav-link"
                  >my library</a
                >
              </li>
              <li class="header-nav-item item-login">
                <a href="/login" class="header-link nav-link"> Sign in</a>
              </li>
            </ul>
            <button
              type="button"
              class="button item-logout"
              data-action="log-out"
            >
              Log out
            </button>
          </nav>
        </div>
        <form class="form-container" id="search-form" data-search-form>
          <input
            id="search-input"
            type="text"
            data-search-input
            autocomplete="off"
            placeholder="Search movies..."
            class="js-input search-input"
            name="query"
          />
          <svg class="search-icon" width="12" height="12">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </form>
        <div class="js-search-results header-warning"></div>
      </section>
    </div>
  </div>
</header>
