@use '../utils/variables' as v;

.auth-container {
  width: 100%;
  @media screen and (min-width: 768px) {
    min-width: 350px;
  }
  max-width: 350px;
  margin: 50px auto;
  padding: 20px;
  background-color: v.$main-text-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-text {
  text-align: center;
  color: v.$main-white-color;
}

.form-group {
  margin-bottom: 20px;
}

.form-group button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.form-group label {
  font-weight: v.$sec-font-weight;
  display: block;
  margin-bottom: 8px;
}

.form-group input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.register-link {
  text-align: center;
  margin-top: 20px;
}

.register-link p {
  color: v.$main-white-color;
  margin-bottom: 0;
}

.register-link a {
  color: v.$accent-color;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
