@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.main-container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.disable-hover-focus {
  pointer-events: none;
  background: none;
  border: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  text-transform: uppercase;
  cursor: pointer;

  color: v.$main-white-color;
  background-color: transparent;
  border: 2px solid v.$main-white-color;
  border-radius: 5px;

  font-size: v.$sec-font-size;
  font-weight: v.$sec-font-weight;
  line-height: v.$sec-line-height;

  &:hover,
  &:focus,
  &-active {
    & {
      box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
      background-color: v.$accent-color;
      border-color: transparent;
    }
  }

  @include m.transition(box-shadow, background-color);
}

.button:active {
  transform: scale(0.95);
}

.button-orange {
  background-color: v.$accent-color;
  border-color: transparent;
}
